@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Texturina', serif; */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');
/* font-family: 'Signika Negative', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
/* font-family: 'Merienda', cursive; */
*{
    margin: 0;
    padding: 0;
    transition: 00.15s;
    /* box-sizing: border-box; */
}
header {
    position: sticky;
    top: 0;
    box-shadow: 1px 3px 18px #00000078;
    z-index: 1;
}
h3{
    font-family: 'Texturina', serif;
}
.topLeft h3 a {
    text-decoration: none;
    color: black;
}
.topContainer {
    display: flex;
    background: antiquewhite;
    justify-content: space-between;
    align-items: center;
}

.topLeft {
    overflow: hidden;
}

.topLeft img {
    width: 40px;
    float: left;
    margin: 6% 0%;
    padding-left: 5px;
}

.topLeft h3 {
    float: right;
    font-size: 39px;
    margin: -3px 6px;
    cursor: pointer;
}
.sideIconWraper {
    padding: 7px;
    display: none;
}
.sideIcon {
    border: 2px solid #666;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 33px;
    width: 40px;
    margin-right: 20px;
    opacity: 0;
    visibility: hidden;
    display: none;
    /* margin-top: 20px; */
    padding: 2px 4px;
}

.sideIconLine {
    height: 3px;
    width: 28px;
    background: #666;
    /* margin-top: 6px; */
    margin: auto;
}
.topMenu ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Signika Negative', sans-serif;
}

.topMenu ul {
    list-style: none;
    display: flex;
}

.topMenu ul li {
    padding: 15px 16px;
    cursor: pointer;
    position: relative;
}

ul.subMenu li a {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-family: 'Signika Negative', sans-serif;
}

ul.subMenu li {
    padding: 9px 10px;
    border-bottom: 1px dotted white;
}
ul.subMenu {
    position: absolute;
    background: antiquewhite;
    display: flex;
    flex-flow: column;
    /* bottom: 100%; */
    top: 100%;
    left: 0;
    justify-content: center;
    width: 150px;
    border-top: 1px solid #ddd;
    display: none;
    transition: 0.3s;
}

ul.subMenu:last-child {
    border-bottom: none;
}
.topMenu ul li:hover .subMenu {
    display: block;
}
li#subMenuLastChild {
    border: none;
}
li#subMenuLastChild {
    border: none;
}

ul li.subMenuLastChild{
    border: none;
}
.topHeadContainer{
    background: url(../images/Kaba.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    overflow: hidden;
}
.topHeadContainer h3{
    color: white;
}
.topHeading {
    text-align: right;
    margin-right: 15%;
    margin-top: 2%;
}

.topHeading h3 {
    font-size: 62px;
}

.topHadith p {
    text-align: right;
    font-size: 15px;
    font-family: 'Merienda', cursive;
}

.topHadith {
    width: 60%;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 2%;
    margin-bottom: 2%;
    background: linear-gradient(#000000b0, #0000002e);
}
.topHeadContainer p {
    color: white;
}

.bodyContainer {
    width: 98%;
    margin: 10px auto;
    /* background: whitesmoke; */
    border-bottom: 1px solid black;
    /* border-radius: 5px; */
}

.bodyItemContainer {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bodyHead {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 19px;
}

.bodyHead h3 {
    font-size: 33px;
    padding: 1px 4px;
    border-bottom: 3px solid coral;
}
.bodyItems {
    padding: 10px;
    border: 2px solid coral;
    margin: 10px;
    /* background: antiquewhite; */
    border-radius: 2px;
    height: 300px;
}
.itemButton a {
    text-decoration: none;
    color: black;
    font-family: 'Signika Negative';
    font-size: 18px;
}

.itemButton {
    text-align: center;
    margin: 10px auto;
    overflow: hidden;
    width: fit-content;
}

button {
    padding: 8px;
    background: #f9d7ab;
    border: 2px solid #c79a96;
    border-radius: 4px;
}
.bodyItems a {
    text-decoration: none;
    color: black;
}
.itemImg img {
    width: 200px;
    height: 185px;
}

.itemImg {
    width: fit-content;
    margin: auto;
}
.itemHead h3 {
    text-align: center;
    font-size: 23px;
    margin: 10px 0px;
}

.itemHead p {
    text-align: center;
    /* font-family: 'Merienda', cursive; */
    font-family: 'Signika Negative', sans-serif;
    margin: 10px 0px;
}
.footerLogo {
    text-align: center;
}

.footerLogo h3 a {
    text-decoration: none;
    color: white;
    font-size: 55px;
    letter-spacing: 3px;
    height: 100%;
    text-shadow: 0 0 8px white;
}

.footerContainer {
    background: #232222;
}
.designer {
    text-align: center;
    padding: 10px;
}

.designer p {
    color: gray;
}

.designer a {
    /* text-decoration: none; */
    color: darkgray;
}
.siteContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0px;
    flex-wrap: wrap;
}

.siteContainer ul {
    list-style: none;
}

.siteContainer ul li a {
    color: gray;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
}

.siteContainer h5 {
    font-size: 20px;
    color: #9c9494;
}
.lastItem {
    border: none;
}
.sideBar {
    position: absolute;
    top: 55px;
    right: 0;
    width: 37%;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s linear;
}

.sideMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #faebd7f7;
}
.sideMenu ul {
    list-style: none;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.sideMenu li a {
    text-decoration: none;
    color: black;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
}

.sideMenu li {
    padding: 12px 2px;
}
ul.sideSubMenu {
    position: absolute;
    top: 0;
    right: 100%;
    background: #faebd7f7;
    border-right: 2px solid;
    transform: translateY(35px);
    /* opacity: 0; */
    display: none;
}

/* --------HOVER ITEMS------------- */
.topMenu ul li:hover .subMenu {
    display: block;
    animation: onHover 0.15s linear forwards;
}
.topMenu ul li:hover {
    background: #e2d4c1;
}
.bodyItems:hover {
    background: antiquewhite;
    border: 2px solid antiquewhite;
    box-shadow: 3px 3px 6px #0000006b;
}
.sideMenu li:hover {
    background: #e2d4c1;
}
.sideMenu li:hover .sideSubMenu {
    display: block;
}
.sideMenu li:hover .sideSubMenu {
    display: block;
    animation: onHover 0.15s linear forwards;
}
.sideIconWraper:hover .sideBar{
    transform: scaleY(1);
}

button:hover {
    background: antiquewhite;
}
.sideIcon:hover {
    background: #e2d4c1;
}
/* --------HOVER ITEMS------------- */

/* -----animations----------*/

@keyframes onHover{
    0%{transform: translateY(35px);opacity: 0;}
    100%{transform: translateY(0px);opacity: 1;}
}


/* ------------Media Quearies------------ */
@media (max-width: 768px){
    .topRight{
        display: none;
    }
    .topLeft{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topLeft img{
        float: none;
        margin: 0;
        margin-left: auto;
    }
    .topLeft h3{
        float: none;
        margin-right: auto;
    }
    .sideIconWraper {
        display: block;
    }
    .sideIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }
    .bodyHead h3 {
        font-size: 29px;
    }
    .topHadith p {
        font-size: 13px;
    }
}

@media (max-width: 616px){
    .topHeading h3 {
        font-size: 50px;
    }
    .topLeft h3{
        font-size: 25px;
    }
    .topLeft img {
        width: 35px;
    }
    .sideIcon{
        height: 25px;
        width: 30px;
    }
    .bodyHead h3 {
        font-size: 25px;
    }
    .bodyItems {
        padding: 7px;
        height: 270px;
    }
    .itemImg img {
        width: 190px;
        height: 175px;
    }
    .itemHead h3 {
        font-size: 20px;
    }
    .itemHead p {
        font-size: 14px;
    }
    .sideBar {
        top: 46px;
    }
}
@media (max-width: 426px){
    .bodyHead h3 {
        font-size: 20px;
    }
    .topHeading h3 {
        font-size: 40px;
    }
    .topHadith p {
        font-size: 8px;
    }
    .itemHead h3 {
        font-size: 15px;
    }
    .itemHead p {
        font-size: 10px;
    }
    .itemImg img {
        width: 145px;
        height: 142px;
    }
    .bodyItems {
        padding: 7px;
        height: 220px;
    }
    .sideIconLine {
        height: 2px;
        width: 24px;
    }
    .sideIcon {
        height: 21px;
        width: 26px;
    }
    .bodyItems:nth-child(7){
        display: none;
    }
    .bodyItems:nth-child(8){
        display: none;
    }
    .sideBar {
        top: 42px;
    }
    .sideMenu li a {
        font-size: 17px;
    }
    .sideMenu li {
        padding: 8px 2px;
    }
    .sideBar {
        width: 40%;
    }
}
@media (max-width: 376px){
    .itemImg img {
        width: 100px;
        height: 90px;
        margin-top: 10px;
    }
    .bodyItems {
        padding: 7px;
        height: 180px;
        margin: 2px;
    }
    .bodyItemContainer {
        width: 100%;
        justify-content: center;
    }
    .itemHead p {
        font-size: 9px;
    }
    .bodyItems:nth-child(7){
        display: none;
    }
    .bodyItems:nth-child(8){
        display: none;
    }
    .itemButton a {
        font-size: 10px;
    }
    button {
        padding: 4px;
        border-radius: 4px;
    }
    .designer p {
        font-size: 12px;
    }
    .siteContainer h5 {
        font-size: 13px;
    }
    .siteContainer ul li a {
        font-size: 11px;
    }
    .sideIcon {
        height: 18px;
        width: 21px;
    }
    .sideIconLine {
        width: 19px;
    }
    .topLeft img {
        width: 30px;
    }
    .sideMenu li a {
        font-size: 16px;
    }
    .sideMenu li {
        padding: 8px 2px;
    }
    .sideBar {
        top: 40px;
    }
    .sideBar {
        width: 46%;
    }
}
@media (max-width: 321px){
    .sideIcon {
        height: 16px;
        width: 18px;
    }
    .sideIconLine {
        height: 2px;
        width: 17px;
    }
    .topLeft img {
        width: 25px;
    }
    .topHeading h3 {
        font-size: 30px;
    }
    .topHadith p {
        font-size: 6px;
    }
    .bodyHead h3 {
        font-size: 13px;
    }
    .itemHead p {
        font-size: 7px;
    }
    .itemHead h3 {
        font-size: 11px;
    }
    .itemImg img {
        width: 110px;
    }
    .bodyItems {
        padding: 9px;
        height: 166px;
        margin: 8px;
    }
    .itemButton a {
        font-size: 8px;
    }
    button {
        padding: 1px;
        border-radius: 2px;
    }
    .designer p {
        font-size: 10px;
    }
    .siteContainer h5 {
        font-size: 10px;
    }
    .siteContainer ul li a {
        font-size: 10px;
    }
    .footerLogo h3 a {
        font-size: 30px;
        letter-spacing: 0px;
    }
    .bodyItems:nth-child(7){
        display: none;
    }
    .bodyItems:nth-child(8){
        display: none;
    }
    .sideBar {
        top: 38px;
    }
    .sideMenu li a {
        font-size: 13px;
    }
    .sideMenu li {
        padding: 5px 2px;
    }
    .sideBar {
        width: 50%;
    }
}
